Salsàbyl Hàmraoui

.button-lg.no-border {
    border: none;
  }
 
  .login-container {
    overflow-y: hidden!important;
}
 
.addBtn{
 
    background-color: #696cff !important;
}
 
.or-border {
    position: relative;
    text-align: center;
}
 
.m-t-30 {
    margin-top: 30px !important;
}
 
 
 
.input-group-text,.form-control{
  height: 42px!important;
}