<footer class="footer custom-footer" style="background-color: #2d3c5d; color: aliceblue; width: calc(100% - 260px); margin-left: 260px;">
  <div class="container-fluid">
    <div class="row align-items-center justify-content-between">
      <div class="col-md-6">
        <div class="copyright text-center text-md-left text-muted " style="margin-left: 70px;">
          &copy; {{ test | date: "yyyy" }} <a href="https://www.creative-tim.com?ref=ada-footer-admin-layout" class="font-weight-bold ml-1 text-white ms-5" target="_blank">Parkini Team</a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="social-icons">
          <a href="#" class="nav-link" target="_blank"><i class="fab fa-facebook"></i></a>
          <a href="#" class="nav-link" target="_blank"><i class="fab fa-instagram"></i></a>
          <a href="#" class="nav-link" target="_blank"><i class="fab fa-linkedin"></i></a>
          <a href="#" class="nav-link" target="_blank"><i class="fab fa-github"></i></a> <!-- GitHub icon -->
        </div>
      </div>
    </div>
  </div>
</footer>
