.btn-square {
    border-radius: 10px; /* Make the button square */
    width: 40px; /* Set width to a smaller value */
    height: 36px; /* Set height to a smaller value */
    padding: 0; /* Remove padding */
}

.btn-square i {
    font-size: 1.1rem; /* Adjust icon size */
    display: flex;
    justify-content: center;
    align-items: center;
}
.custom-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999; /* Ensure modal is on top */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    z-index: 9998; /* Place overlay below modal */
    backdrop-filter: blur(5px); /* Apply blur effect to background */
  }
  
  .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 9999; /* Ensure modal content is on top */
    width: 80%; /* Set the width of the modal */
    height: 80%; /* Set the height of the modal */
    max-width: 800px; /* Set maximum width to prevent the modal from becoming too wide */
    max-height: 700px; /* Set maximum height to prevent the modal from becoming too tall */
    overflow-y: auto; /* Enable vertical scroll if content exceeds max height */
  }
  